body {
    background-image: url('./imgs/bg.png');
    margin-top: 1.0em;
    background-color: #fff;
    font-family: Helvetica, Arial, FreeSans, san-serif;
    color: #444;
}

#container {
    margin: 0 auto;
    width: 700px;
}
h1 { font-size: 3.8em; color: #ccc; margin-bottom: 3px; }
h1 a { color: #aaa;}
h1 .small { font-size: 0.4em; }
h1 a { text-decoration: none }
h2 { font-size: 1.5em; color: #666; }
h3 { text-align: center; color: #666; }
a { color: #666; }
.description { font-size: 1.2em; margin-bottom: 30px; margin-top: 30px; font-style: italic;}
.download { float: right; }
pre { background: #000; color: #fff; padding: 15px; border-radius: 6px; box-shadow: 0 0 4px #444; border: 2px solid #444;}
hr { border: 0; width: 80%; border-bottom: 1px solid #aaa}
.footer { text-align:center; padding-top:30px; font-style: italic; }