$neustar-green: #008556;
$light-grey: #888;

.deck-container {
	font-family: "Helvetica Neue", sans-serif;
	font-size:1.25em;
	background: #fff;
	background-image: url('../../images/neustar-logo.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: bottom left;

	.github-ribbon-container {
		position: fixed;
  		top: 0;
  		right: 0;
  		z-index: 3;
		margin: 0;
		padding: 0;
		border: 0;
	}

	.slide {
		background: transparent;

		h1 {
			color: $neustar-green;
			text-shadow: 0px 0px 2px $light-grey;
			font-size: 4em;

			span.by {
				color: $light-grey;
				font-weight: normal;
				font-size: 0.3em;
				text-shadow: none;
			}

			span.whenwhere {
				color: $light-grey;
				font-style: italic;
				font-size: 0.2em;
				text-shadow: none;
			}
		}

		math {
			font-size: 0.5em;
			font-family: monospace, sans-serif;
		}

		h2 {
			color: $neustar-green;
			border-bottom-color:#ccc;
		}

		h3 {
			color:$light-grey;
		}

		pre {
			border-color:#ccc;
		}

		code {
			color:$light-grey;
		}

		> ul, > p ul {
			font-size: 1.2em;
			line-height: 1.4;
		}

		blockquote {
			font-size:2em;
			font-style:italic;
			padding:1em 2em;
			color:#000;
			border-left:5px solid #ccc;

			p {
				margin:0;
			}

			cite {
				font-size:.5em;
				font-style:normal;
				font-weight:bold;
				color:$light-grey;
			}
		}

		.sidenote {
			font-size: 0.8em;
			float: right;
			background: #efefef;
			border: 1px solid #ddd;
			border-radius: 5px;
			display: block;
			padding: 4px 15px;
			max-width: 20%;
		}

		::-moz-selection{ background:#c00; color:#fff; }
		::selection { background:#c00; color:#fff; }

		a {
			&, &:hover, &:focus, &:active, &:visited {
				color: $neustar-green;
				text-decoration:none;
			}

			&:hover, &:focus {
				text-decoration:underline;
			}
		}
	}

	> .slide {
		.deck-before, .deck-previous {
			opacity:0.4;

			&:not(.deck-child-current) {
				.deck-before, .deck-previous {
					opacity:1;
				}
			}
		}

		.deck-child-current {
			opacity:1;
		}
	}

	.deck-prev-link, .deck-next-link {
		background:#ccc;
		font-family:serif; // sans-serif arrows x-browser fail

		&, &:hover, &:focus, &:active, &:visited {
			color:#fff;
		}

		&:hover, &:focus {
			background: $neustar-green;
			text-decoration: none;
		}
	}

	.deck-status {
		font-size: 0.7em;
	}

	&.deck-menu {
		.slide {
			background:#eee;
		}

		.deck-current, .no-touch & .slide:hover {
			background:#ddf;
		}
	}
}

@media print {
	.deck-container {
		.slide {
			.h1 {
				font-size: 2em !important;
			}

			math {
				font-size: 0.5em !important;
			}

			> ul, > p ul {
				font-size: 1.0em !important;
				line-height: 1.2 !important;
			}
		}
	}
}
